binds {
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Down  { focus-window-or-workspace-down; }

    Mod+H  { focus-column-left; }
    Mod+L  { focus-column-right; }
    Mod+K  { focus-window-or-workspace-up; }
    Mod+J  { focus-window-or-workspace-down; }

    Mod+Shift+H  { move-column-left; }
    Mod+Shift+L { move-column-right; }
    // Mod+Shift+Left  { move-column-left-or-to-monitor-left; }
    // Mod+Shift+Right { move-column-right-or-to-monitor-right; }
    Mod+Shift+K    { move-window-up-or-to-workspace-up; }
    Mod+Shift+J  { move-window-down-or-to-workspace-down; }
}
