import QtQml
import Quickshell

Scope {
    id: root

    readonly property var barConfigs: [
        {{ if eq .chezmoi.hostname "dan-pc" -}}
        { screen: "DP-1", side: Bar.AnchorSide.Left, showBattery: false, showNetwork: false },
        {{- end}}
        {{ if eq .chezmoi.hostname "work" -}}
        { screen: "eDP-1", side: Bar.AnchorSide.Left, showBattery: true, showNetwork: true, backgroundColor: "#000000" },
        {{- end}}
    ]

    Instantiator {
        model: root.barConfigs
        delegate: Bar {
            required property var modelData
            screen: modelData.screen
            side: modelData.side
            showBattery: modelData.showBattery ?? false
            showNetwork: modelData.showNetwork ?? false
            backgroundColor: modelData.backgroundColor ?? "#142027"
        }
    }

    Notifications {}
}
