.bar * {
  all: unset;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

.bar .cbox {
  padding: 5px 10px;
  /* background-color: #18181b; */
  background-color: #09090b;
  color: white;
}

.bar .title {
  font-weight: 600;
  padding: 0 10px;
}

.bar button {
  border: none;
  box-shadow: none;
  padding: 2px 0.8rem;
  background: #000000;
  transition: all 0.2s ease-in-out;
}
.bar button:hover {
  background: #0c1012;
}

.bar .workspaces {
  border-radius: 24px;
  /* background-color: #09090b; */
  background-color: #18181b;
}

.bar .workspaces box {
  padding: 8px;
}

.bar .workspaces label {
  border-radius: 24px;
  min-width: 10px;
  min-height: 10px;
  /* background: #3f3f46; */
  background: #52525b;
  border: none;
  box-shadow: none;
  color: white;
  /* font-weight: bold; */
  font-size: 0;
  margin: 0 2px;
  transition: all 0.2s ease-in-out;
}

.bar .workspaces button label {
  font-size: 0;
}

/* has to come before .active, because otherwise it will override .active*/
.bar .workspaces label.occupied {
  background-color: #d4d4d8;
  /* background-color: #ffee58; */
}

.bar .workspaces label.active {
  background-color: #ffee58;
  min-width: 28px;
}

.bar .tray button {
  border-radius: 4px;
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
  /* padding: 0 5px; */
}

.bar .tray button:hover {
  background-color: #3f3f46;
}

.bar .tray button.active {
  background-color: #27272a;
}
.bar .tray button.active:hover {
  background-color: #3f3f46;
}

.bar .clock {
  font-weight: bold;
}
