profile laptop-only {
    output eDP-1 {
        enable
        mode "2880x1800@120.000" 
        position 0,0
        scale 1.5
        adaptive_sync on
    }
}

profile work {
    output eDP-1 {
        enable
        mode "2880x1800@120.000" 
        position 0,0
        scale 1.5
        adaptive_sync on
    }

    output "Philips Consumer Electronics Company 49B2U6903 AU02607004352" {
        mode 5120x1440@120.000
    }
}

profile fallback {
    output eDP-1 {
        enable
        mode "2880x1800@120.000" 
        position 0,0
        scale 1.5
        adaptive_sync on
    }

    output "*" { }
}

