.bar * {
  all: unset;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

.bar .cbox {
  padding: 5px 10px;
  background-color: #18181b;
  color: white;
}

.bar .title {
  font-weight: 600;
  padding: 0 10px;
}

.bar button {
  border: none;
  box-shadow: none;
  padding: 2px 0.8rem;
  background: #000000;
  transition: all 0.2s ease-in-out;
}
.bar button:hover {
  background: #0c1012;
}

.bar .workspaces {
  border-radius: 24px;
  background-color: #09090b;
}

.bar .workspaces button {
  border-radius: 24px;
  min-width: 8px;
  min-height: 8px;
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
}

.bar .workspaces button label {
  /* font-size: 0.9rem; */
}

.bar .workspaces button:hover {
  background-color: #52525b;
}

.bar .workspaces button.active {
  background-color: #3f3f46;
  min-width: 24px;
}
.bar .workspaces button.active:hover {
  background-color: #52525b;
}

.bar .tray button {
  border-radius: 4px;
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
  /* padding: 0 5px; */
}

.bar .tray button:hover {
  background-color: #3f3f46;
}

.bar .tray button.active {
  background-color: #27272a;
}
.bar .tray button.active:hover {
  background-color: #3f3f46;
}

.bar .clock {
  font-weight: bold;
}
