output "DP-1" {
    mode "2560x1440@239.970"
    position x=2560 y=0
    focus-at-startup
    variable-refresh-rate
    scale 1
}

output "DP-2" {
    mode "2560x1440@74.971"
    position x=0 y=0
    scale 1
}
 
output "DP-3" {
    mode "1920x1080@100"
    position x=5120 y=0
    scale 1
}
